* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Josefin Sans', sans-serif;
  color: #757575;
}

body {
  background-color: #F5F5F5;
}

main {
  margin-bottom: 4em;
}
/* Estilos Movile Logo */
.container-white {
  margin: 2rem 2rem 2rem;
  background-color: white;
}

.logo {
  margin: 1rem;
}

/* Estilos desktop header*/
.menu-principal {
  margin-top: 3rem;
  padding-top: 1rem;
}

/* Estilos para la portada */

.portada img {
  box-shadow: 2px 2px 5px #9999;
}

/* Estilos para la descripción */

.description {
  line-height: 2em;
}

.description span {
  font-weight: 700;
}

.description p {
  margin-top: 1em;
  padding: 2rem;
  text-align: justify;
}

.description a {
  color: #ff383f;
}

.user {
  margin-top: 2em;
}

.usarios span {
  font-size: 1.5em;
}

.foco i {
  margin-right: 0.5em;
}

.foco p {
  margin-top: 1rem;
}
.user span i {
  margin-right: 1em;
  margin-bottom: 1em;
}

.proceso {
  margin-top: 2em;
}

.proceso span {
  font-size: 2em;
}

.icon-proceso span {
  font-size: 1.5em;
}
.icon-proceso span i {
  margin-right: 0.5em;
}

.icon-proceso p {
  padding-top: 1rem;
  text-align: justify;
}

.proceso-hkt {
  margin: 1em;
  line-height: 1.5em;
  height: 15rem;
  margin-top: 2rem;
}

.proceso-hkt img {
  margin-left: 1em;
}

.result {
  margin-top: 1em;
  padding: 2rem;
  line-height: 1.5em;
}

figcaption h5 {
  color: #ff383f;
}

figcaption a {
  color: #ff383f;
}
/* Media queries */
@media (min-width: 600px) {
  .container-white {
    margin-top: 2rem;
    margin: 0 4rem;
    font-size: 1.3em;
  }

  .portada {
    margin: 5rem;
  }

  .cix-photo {
    margin: 3rem;
    width: 40vw;
    margin-right: 4rem;
  }

  .proceso {
    margin-top: 4em;
  }
  .proceso-hkt {
    text-align: center;
    height: 20%;
    margin: 2em;
  }

  .usarios {
    margin: 3rem;
    font-size: 1.5em;
  }

  .foco span {
    font-size: 1.5em;
  }

  .foco i {
    margin-top: 2rem;
  }

  .foco {
    margin-bottom: 10rem;
    margin-top: 4em;
  }

  .photo-proyect {
    width: 20vw;
    margin: 4rem;
  }

  .proceso-hkt {
    margin: 2em;
  }
  
  .icon-proceso p {
    margin-top: 2rem;
  }

  .journey {
    margin: 4em;
  }

  .journey-actual {
    margin-bottom: 3rem;
  }
}
