* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Josefin Sans', sans-serif;
  color: #757575;
}

body {
  background-color: #F5F5F5;
}
.container-white {
  margin: 0 7em;
  background-color: white;
}
/* Estilos para el header principal */
.menu-principal {
  margin-top: 3rem;
  padding-top: 1rem;
}

.name-title p {
  margin-top:10em; 
}

.name-title strong {
  filter: drop-shadow(3px 3px 1px #9889);
  font-size: 3em;
}

.name-title span {
  font-size: 2em;
  line-height: 3em;
}

.name-title .descripcion {
  margin-top: 1em;
  font-size: 1.2em;
  padding: 3rem;
}

/* Estilos para la sección de redes sociales */
.section-social {
  margin-top: rem;
  margin-bottom: 4rem;
}

/* Estilos para la foto principal */
.photo-profile {
  width: 15rem;
}

/* Estilos para sección de proyectos */
.presentacion-proyects p {
  font-size: 1.2em;
  padding: 3rem;
}

.presentacion-proyects {
  margin-top: 4em;
}
.presentacion-proyects span {
  font-size: 2em;
  line-height: 3em;
}
.process .icons {
  padding: 3rem;
}

.process .icon-flujo {
  width: 3rem;
}

.descripcion-flujo h6 {
  font-size: 15px;
  margin-bottom: 4rem;
}

.portfolio-text {
  margin-top: 6rem;
  color: #F3F3F3;
  font-size: 3em;
}

.section-img {
  margin: 4rem 0;
}

.proyects-github {
  margin-top: 4rem;
}

/* Estilos del footer */
.content-box img {
  width: 3rem;
}

.footer-box {
  margin-top: 3rem;
  height: 130px;
}

.yoannahs {
  margin-top: 1rem;
}