<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- Enlazamos el framework de Materialize -->
  <link rel="stylesheet" href="../vendors/materialize/css/materialize.min.css">
  <!-- Hoja de estilos personalizado -->
  <link rel="stylesheet" href="../css/bcp-style.css">
  <!-- Mi logo -->
  <link rel="stylesheet" href="">
  <!-- Enlazamos librería de iconos de fontawesome -->
  <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
  <!-- Enlazamos tipografía de google font -->
  <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300" rel="stylesheet">
  <title>Proyect - BCP</title>
</head>
<body>
  <div class="container-white">
    <header>
      <div class="row show-on-small hide-on-med-and-up">
        <div class="col s12 m12 logo center-align">
          <a href="../index.html" data-activates="mobile-demo" class="btn btn-floating grey darken-1">YH</a>
        </div>
      </div>
      <div class="row menu-principal hide-on-small-only">
        <div class="col s12 m12">
          <ul class="tabs">
            <li class="col m3">
              <a href="https://yoannahs.github.io/portfolio-yh/" data-activates="mobile-demo" class="btn btn-floating grey darken-1">YH</a>
            </li>
            <li class="tab col s3 m3">
              <a href="https://yoannahs.github.io/portfolio-yh/" class="active" style="color: #757575;">Conóceme</a>
            </li>
            <li class="tab col s3 m3">
              <a href="https://www.linkedin.com/in/yoannahs/" target="_black" style="color: #757575;">Resumen Profesional
              </a>
            </li>
            <li class="tab col s3 m3">
              <a href="https://github.com/YoannaHS?tab=repositories" target="_black" style="color: #757575;">Proyectos Anteriores</a>
            </li>
          </ul>
        </div>
      </div>
    </header>
    <main>
      <div class="col s12 m12">
        <figure class="portada">
          <img src="../assets/proyects/bcp/sketch-2.jpeg" class="responsive-img" alt="">
          <figcaption>
              <h5>CIX - Centro de Innovación</h5>
              <span>Desarrollado para - </span>
              <a href="https://www.viabcp.com/wps/portal/Home/personas" target="_black">Banco de Crédito del Perú</a>
          </figcaption>
        </figure>
      </div>
    </main>
    <div class="divider"></div>
    <!-- Descripción del Proyecto -->
    <div class="row">
      <div class="col s12 proceso result">
        <span>
          <strong style="color:#ff383f">|</strong> El Reto</span>
      </div>
    </div>
    <div class="row">
      <div class="center-align description">
        <div class="col s12">
          <p>El Banco de Crédito del Perú, en adelante BCP. Es el banco más grande y el proveedor líder de servicios financieros
            integrados en el Perú, sin embargo no basta con ser un banco líder en el rubro, se necesita innovar y romper paradigmas,
            promover una cultura colaborativa centrada en las personas y dar paso a la Transformación Digital.</P>
        </div>
        <div class="col s12">
          <figure>
            <img src="../assets/proyects/bcp/cix.jpg" class="responsive-img cix-photo z-depth-4" alt="">
            <figcaption>
              <span>¿Cómo acercar proyectos de innovación liderados por el CIX a las más de 150 áreas del banco?</span>
            </figcaption>
          </figure>
          <p>En alianzas con diferentes Universidades como
            <a href="https://www.utec.edu.pe/" target="_black">UTEC, </a>
            <a href="http://www.up.edu.pe/" target="_black">UP, </a>
            <a href="https://www.stanford.edu/" target="_black">Stanford, </a>entre otras. El CIX espera cubrir las necesidades de las diferentes áreas y ofrecerlos a todos los Gerentes.</p>
        </div>
      </div>
    </div>
    <div class="divider"></div>
        <div class="row">
          <div class="col s12 proceso result">
            <span><strong style="color:#ff383f">|</strong> El Proceso</span>
          </div>
        </div>
        <div class="row proceso-hkt hide-on-med-and-up">
          <div class="col s12 user usarios">
            <span>
              <i class="fab fa-slideshare fa-lg" style="color:#ff383f"></i>Usuarios</span>
          </div>
          <div class="col s6 foco">
            <span>
              <i class="fas fa-male" style="color:#ff383f"></i>Gerentes BCP</span>
            <p>Desea innovar pero no tiene las herramientas.</p>
          </div>
          <div class="col s6 foco">
            <span>
              <i class="fas fa-users" style="color:#ff383f"></i>Equipo del CIX</span>
            <P>Tienen programas de innovación a ofrecer a los gerentes.</P>
          </div>
        </div>
        <div class="row proceso-hkt hide-on-small-only journey">
          <div class="col s12 icon-proceso left-align">
            <span>
              <i class="fab fa-slideshare fa-lg" style="color:#ff383f"></i>Usuarios</span>
          </div>
          <div class="col s6 foco">
            <span>Gerentes BCP</span><br>
            <i class="fas fa-male fa-3x" style="color:#ff383f"></i>
            <p>Desea innovar pero no tiene las herramientas.</p>
          </div>
          <div class="col s6 foco">
            <span>Equipo del CIX</span><br>
            <i class="fas fa-users fa-3x" style="color:#ff383f"></i>
            <P>Tienen programas de innovación pero, ¿Cómo darlos a conocer?</P>
          </div>
          <div class="col m12 journey-actual">
            <img src="../assets/proyects/bcp/journal.png" class="responsive-img" alt="">
          </div>
        </div>
        <div class="row proceso-hkt">
          <div class="col s7 icon-proceso left-align">
            <span>
              <i class="far fa-clone fa-lg" style="color:#ff383f"></i>Affinity Map</span>
            <p>Después de identificar a nuestros usuarios (Gerentes de área y de producto) sintetizamos la información de las entrevistas.</p>
          </div>
          <div class="col s5">
            <img src="../assets/proyects/bcp/diagrama-1.jpeg" class="responsive-img photo-proyect materialboxed" alt="">
          </div>
        </div>
        <div class="row proceso-hkt">
          <div class="col s7 icon-proceso left-align">
            <span>
              <i class="fas fa-edit fa-lg" style="color:#ff383f"></i>Sketch</span>
            <p>Se realizó un paper prototype teniendo en cuenta los requerimientos del MVP y las necesidades de los usuarios.</p>
          </div>
          <div class="col s5 card-image">
            <img src="../assets/proyects/bcp/sketch-1.jpeg" class="responsive-img photo-proyect materialboxed" alt="">
          </div>
        </div>
        <div class="row proceso-hkt">
          <div class="col s7 icon-proceso left-align">
            <span>
              <i class="fas fa-eye fa-lg" style="color:#ff383f"></i>Testing</span>
            <p>Durante la interacción con los usuarios pudimos hacer pequeños ajustes logrando un flujo limpio y dinámico.</p>
          </div>
          <div class="col s5">
            <img src="../assets/proyects/bcp/testing.jpeg" class="responsive-img photo-proyect materialboxed" alt="">
          </div>
        </div>
        <div class="divider"></div>
        <div class="row">
          <div class="col s12 proceso">
            <span>
              <strong style="color:#ff383f">|</strong> El Resultado</span>
          </div>
        </div>
        <div class="row result">
          <div class="col s12 center-align">
            <figure>
              <img src="../assets/proyects/bcp/producto.gif" class="responsive-img" alt="">
            </figure>
            <figcaption>
              <h5>Una Plataforma Digital eficiente y práctica</h5>
              <span>Logramos dejar clara la propuesta  de valor para los gerentes, minimizando esfuerzo humano y cumplinedo con el objetivo </span>
              <a href="https://marvelapp.com/38h9jd2" target="_black">Ver el Prototype Completo</a>
          </figcaption>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Librería de JS Jquery -->
  <script src="../vendors/jquery/jquery-3.2.1.min.js"></script>
  <!-- Archivo JS de Materialize -->
  <script src="../vendors/materialize/js/materialize.min.js"></script>
</body>
</html>